
@{
    ViewBag.Title = "Index";
    var ListCTL = ViewBag.ListBookCTL;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section cssHeader {
    <link href="~/Assets/client/css/sachtheodanhmuc.css" rel="stylesheet" />
}

@section jsFooter {
    <script src="~/Assets/client/js/Catalogies.js"></script>
}

<div id="list-carousel-category">
    <div class="owl-carousel owl-theme">
        @foreach (var item in ListCTL)
        {
            <div class="a-book category" data-id="@item.Alias">
                <div class="top">
                    <a href="/the-loai/@item.Alias">
                        <img class="owl-lazy" src="~/Assets/admin/img/upload/ong.jpg" alt="">
                    </a>
                </div>
                <div class="bot">
                    <span class="title">@item.Name</span>
                </div>
            </div>
        }
    </div>
</div>
<!-- LIST BOOK CATEGORY -->
<div id="title-category">
    <div class="middle-bar"></div>
    <div class="title">
        <span>Sách kỹ năng mềm và kỹ năng</span>
    </div>
</div>
<!-- end /LIST BOOK CATEGORY -->
<!-- LIST BOOK -->
<div id="list-book">
    <!-- BOOK -->
   
    @if (ViewBag.ListBook != null)
    {
        foreach (var item in ViewBag.ListBook)
        {
            <div class="book">
                <div class="book-top">
                    <img src="@item.Image" />
                </div>
                <div class="book-bot">
                    <a href="#" class="title-book">@item.Name</a>
                    <a href="#" class="name-author">@item.Authors</a>
                    <div class="price">
                        <span class="price-market">@item.Price đ</span>
                        <span class="price-promotion">@item.Price đ</span>
                    </div>
                </div>
            </div>
        }
    }



    <!-- end /BOOK -->
</div>
<!-- end /LIST BOOK -->
<div class="load-more">
    <a href="#" class="">Load more...</a>
</div>
<script type="text/javascript">

</script>
